
<!-- * Encabezado de la pagina -->
<%- include ("../partials/head") %>

<title>Creacion de un producto</title>
</head>

<body class="bodyHome">
    
    <!-- Cabecera -->
    <%- include ("../partials/header") %>

    <!-- Contenido -->
    <section class="generalHome">

        <div class="createProduct">

            <form class="createProduct__containerForm" enctype="multipart/form-data" action="/product" method="POST">

                <div class="registerForm__titleForm">
                    <h2>Â¿Necesitas crear un producto?</h2>
                    <h3>Adelante! ðŸ˜€</h3>
                </div>

                <div>
                    <label for="nameProduct" class="createProduct__labelBox">Nombre del Producto:</label>
                    <input class="createProduct__inputBox" type="text" name="nameProduct" id="nameProduct" required placeholder=" ">
                </div>

                <div>
                    <label for="weightProduct" class="createProduct__labelBox">Peso del producto (Gramos) 1:</label>
                    <input class="createProduct__inputBox" type="text" name="weightProduct1" id="weightProduct1" placeholder=" ">
                </div>

                <div>
                    <label for="priceProduct" class="createProduct__labelBox">Precio (USD) 1: </label>
                    <input class="createProduct__inputBox" type="text" name="priceProduct1" id="priceProduct1" placeholder=" ">
                </div>

                <div>
                    <label for="weightProduct" class="createProduct__labelBox">Peso del producto (Gramos) 2:</label>
                    <input class="createProduct__inputBox" type="text" name="weightProduct2" id="weightProduct2" placeholder=" ">
                </div>

                <div>
                    <label for="priceProduct" class="createProduct__labelBox">Precio (USD) 2: </label>
                    <input class="createProduct__inputBox" type="text" name="priceProduct2" id="priceProduct2" placeholder=" ">
                </div>

                <div>
                    <label for="weightProduct" class="createProduct__labelBox">Peso del producto (Gramos) 3:</label>
                    <input class="createProduct__inputBox" type="text" name="weightProduct3" id="weightProduct3" placeholder=" ">
                </div>

                <div>
                    <label for="priceProduct" class="createProduct__labelBox">Precio (USD) 3: </label>
                    <input class="createProduct__inputBox" type="text" name="priceProduct3" id="priceProduct3" placeholder=" ">
                </div>

                <div>
                    <label for="descriptionProduct" class="createProduct__labelBox">Descripcion del producto:</label>
                    <textarea class="createProduct__inputBox createProduct__textArea" name="descriptionProduct" id="descriptionProduct"></textarea>
                </div>


                <div>
                    
                    <label for="brandProduct" class="createProduct__labelBox">Marca del Producto:</label>
                    <select class="createProduct__inputBox" name="idBrand" id="idBrand"> 

                        <% brands.forEach( element => { %>
                            <option value="<%= element.id %>"><%= element.name %></option>
                        <% }); %>

                    </select> 

                </div>

                <div>                  

                    <p>Categorias:</p><br>

                        <% typeGrindings.forEach( element => { %>
                            <label class="createProduct__labelCategory"><input type="checkbox" id="<%= element.id%>" name="idCategories" value="<%= element.id %>"><%= element.name %></label>
                        <% }); %>   
                                  
                </div>

                <div>
                    <label for="ratingProduct" class="createProduct__labelBox">Rating:</label>
                    <select class="createProduct__inputBox" name="ratingProduct" id="ratingProduct"> 
                            <option label=â­>1</option>
                            <option label=â­â­>2</option>
                            <option label=â­â­â­>3</option>
                            <option label=â­â­â­â­>4</option>
                            <option label=â­â­â­â­â­>5</option>
                    </select> 

                </div>


                <div>
                    <label for="imageProduct" class="createProduct__labelBox">Imagen (JPG, PNG):</label>
                    <input class="createProduct__inputBox" type="file" name="imageProduct" id="imageProduct" accept=".JPG,.PNG">
                </div>

                <section class="btn createProduct-btn">
                    <button type="submit" class="submit">Enviar</button>
                    <button type="reset" class="reset">Restablecer</button>
                </section>



            </form>

        </div>

    </section>

    <!-- Pie de Pagina -->
    <%- include("../partials/footerNico") %>


</body>
</html>
