
<!-- * Encabezado de la pagina -->
<%- include ("../partials/head") %>

<title>Creacion de un producto</title>
</head>

<body class="bodyHome">
    
    <!-- Cabecera -->
    <%- include ("../partials/header") %>

    <!-- Contenido -->
    <section class="generalHome">

        <div class="createProduct">

            <form class="createProduct__containerForm" enctype="multipart/form-data" action="/product" method="POST">

                <div class="registerForm__titleForm">
                    <h2>Â¿Necesitas crear un producto?</h2>
                    <h3>Adelante! ðŸ˜€</h3>
                </div>

                <% if (locals.errors) { %>

                    <div class="createProduct__errorsContainer">
                        
                    <ul>Errores a corregir en el Formulario</ul>

                    <% for (let oneError in errors ) { %>

                        <li><%= errors[oneError].msg %></li>

                    <% } %>

                    </div>

                <% } %> 

               

                <div>
                    <label for="nameProduct" class="createProduct__labelBox">Nombre del Producto:</label>
                    <input 
                        class="createProduct__inputBox" 
                        type="text" 
                        name="nameProduct" 
                        id="nameProduct" 
                        placeholder=" " 
                        value="<%= locals.oldData ? oldData.nameProduct : null %>">
                </div>

                <div class="createProduct__containerForm-grid">
                    <div>
                        <label for="weightProduct1" class="createProduct__labelBox">Peso (Gramos):</label>
                        <input class="createProduct__inputBox" type="text" name="weightProduct1" id="weightProduct1" placeholder=" " value="250" readonly>
                    </div>

                    <div>
                        <label for="priceProduct1" class="createProduct__labelBox">Precio (USD): </label>
                        <input class="createProduct__inputBox" type="text" name="priceProduct1" id="priceProduct1" placeholder=" " value="<%= locals.oldData ? oldData.priceProduct1 : 0 %>">
                    </div>
                </div>

                <div class="createProduct__containerForm-grid">
                    <div>
                        <label for="weightProduct2" class="createProduct__labelBox">Peso (Gramos):</label>
                        <input class="createProduct__inputBox" type="text" name="weightProduct2" id="weightProduct2" placeholder=" " value="500" readonly>
                    </div>

                    <div>
                        <label for="priceProduct2" class="createProduct__labelBox">Precio (USD): </label>
                        <input class="createProduct__inputBox" type="text" name="priceProduct2" id="priceProduct2" placeholder=" " value="<%= locals.oldData ? oldData.priceProduct2 : 0 %>">
                    </div>
                </div>

                <div class="createProduct__containerForm-grid">
                    <div>
                        <label for="weightProduct3" class="createProduct__labelBox">Peso (Gramos):</label>
                        <input class="createProduct__inputBox" type="text" name="weightProduct3" id="weightProduct3" placeholder=" " value="1000" readonly>
                    </div>

                    <div>
                        <label for="priceProduct3" class="createProduct__labelBox">Precio (USD): </label>
                        <input class="createProduct__inputBox" type="text" name="priceProduct3" id="priceProduct3" placeholder=" " value="<%= locals.oldData ? oldData.priceProduct3 : 0 %>">
                    </div>
                </div>
                

                <div>
                    <label for="descriptionProduct" class="createProduct__labelBox">Descripcion del producto:</label>
                    <textarea class="createProduct__inputBox createProduct__textArea" name="descriptionProduct" id="descriptionProduct"><%= locals.oldData ? oldData.descriptionProduct : null %></textarea>
                </div>


                <div>
                    
                    <label for="idBrand" class="createProduct__labelBox">Marca del Producto:</label>
                    <select class="createProduct__inputBox" name="idBrand" id="idBrand"> 

                            <option selected disabled>Selecciona una marca</option>

                        <% brands.forEach( element => { %>

                            <option 
                            value="<%= element.id %>" 
                            <%=locals.oldData && (element.id == oldData.idBrand) ? "selected" : null %> >
                            <%= element.name %></option>
                        <% }); %>

                    </select> 

                </div>

                <div>                  

                    <p>Categorias:</p><br>

                        <% typeGrindings.forEach( element => { %>

                            <label for="idCategories" class="createProduct__labelCategory">

                                <input 
                                type="checkbox" 
                                id="<%= element.id%>" 
                                name="idCategories" 
                                value="<%= element.id %>"
                            
                                <% if (locals.oldData && oldData.idCategories == 1) { %>

                                    <%= locals.oldData && (element.id == oldData.idCategories) ? "checked" : null %>

                                <% } %>

                                >

                            <%= element.name %></label>

                        <% }); %>   
                                  
                </div>

                <div>
                    <label for="ratingProduct" class="createProduct__labelBox">Rating:</label>
                    <select class="createProduct__inputBox" name="ratingProduct" id="ratingProduct"> 
                            <option selected disabled>Selecciona un Rating</option>
                            <option <%=locals.oldData && (1 == oldData.ratingProduct) ? "selected" : null %> label=â­>1</option>
                            <option <%=locals.oldData && (2 == oldData.ratingProduct) ? "selected" : null %> label=â­â­>2</option>
                            <option <%=locals.oldData && (3 == oldData.ratingProduct) ? "selected" : null %> label=â­â­â­>3</option>
                            <option <%=locals.oldData && (4 == oldData.ratingProduct) ? "selected" : null %> label=â­â­â­â­>4</option>
                            <option <%=locals.oldData && (5 == oldData.ratingProduct) ? "selected" : null %> label=â­â­â­â­â­>5</option>
                    </select> 

                </div>


                <div>
                    <label for="imageProduct" class="createProduct__labelBox">Imagen (JPG, PNG):</label>
                    <input class="createProduct__inputBox" type="file" name="imageProduct" id="imageProduct" accept=".JPG,.PNG">
                </div>

                <section class="btn createProduct-btn">
                    <button type="submit" class="submit">Enviar</button>
                    <button type="reset" class="reset">Restablecer</button>
                </section>



            </form>

        </div>

    </section>

    <!-- Pie de Pagina -->
    <%- include("../partials/footerNico") %>


</body>
</html>
