<!-- Head de la pagina -->
<%- include("../partials/head") %>

<title>Listado de Productos</title>
</head>

<body class="bodyHome">
    
    <!-- Cabecera. -->
    <%- include("../partials/header") %>

    <!-- Contenido -->
    <section class="generalHome">
        
        <section class="listProduct">

            <div class="listProduct__containerFilter">
                <form action="" method="get">
                    <div class="listProduct__titleFilter">
                        <p>Filtro</p>
                    </div>

                    <ul>

                        <div>
                            <li>Peso</li>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <div>
                            <label for="grames" class="createProduct__labelCategory">
                            <input type="checkbox" id="" name="grames" value="grames" >
                            
                            <label for="grames" class="createProduct__labelCategory"></label>
                            <input type="checkbox" id="" name="grames" value="grames" >
                            <input type="checkbox" id="" name="grames" value="grames" >
                        </div>

                        <div>
                            <li>Molienda</li>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <div>
                            <% typeGrindings.forEach( element => { %>
                            
                                <label for="idCategories" class="createProduct__labelCategory">
                    
                                    <input type="checkbox" id="<%= element.id %>" name="idCategories" value="<%= element.id %>">
                    
                                <%= element.name %></label>
                    
                            <% }); %>  
                            
                        </div>

                    </ul>
                    <button type="submit">Filtrar</button>
                </form>

            </div>

            <div class="listProduct__containerProducts">
                
                <div class="listProduct__containerProducts-titleProducts">
                    <p>Productos</p>
                </div>

                <div class="listProduct__boxProducts">

                    <% products.forEach (element => { %>

                    <a href="/product/detail/<%= element.id %>">

                        <div class="boxProducts-itemProduct">
                                <% if(element.images_products.length > 0) { %>
                                    <img src="/img/productos/<%= element.images_products[0].path %>" alt="">
                                <% } %>

                            <div class="listProduct__titleProduct">
                                <p> <%= element.name %> </p>
                            </div>

                            <div class="listProduct__detailsProducts">
                                <div>
                                    <p class="listProduct__price">Precio Desde: 
                                        <% // hace un array de precios (omite los precios 0)
                                            let prices = element.products_grames.map((productGrame) => {
                                                return productGrame.price > 0 ? productGrame.price : false;
                                            }).filter((price) => { return price}) 
                                        %>
                                        
                                          <%= parseFloat(Math.min.apply(null, prices)).toFixed(2); %>
                                            <!-- si quieres el hasta: (puede que solo haya un precio para el producto - en ese caso prices.length == 1) -->
                                          <% parseFloat(Math.max.apply(null, prices)).toFixed(2); %>
                                  
                                        
                                        USD</p>
                                    <p>Envio gratis</p>
                                </div>

                                <i class="fa-solid fa-cart-flatbed"></i>
                            </div>

                            <div class="listProduct__masInfo">
                                <p>Leer mas informacion >></p>
                            </div>

                        </div>
                    </a>

                    <% }); %>

                </div>

            </div>

        </section>

    </section>

    <!-- Pie de Pagina -->
    <%- include("../partials/footerNico") %>


</body>

</html>