<!-- Encabezado de la pagina -->
<%- include("../partials/head") %>
    <title>Document</title>
</head>
<body class="bodyHome">

    <!-- Cabecera -->
    <%- include("../partials/header") %>

    <!-- Contenido -->
    <section class="generalHome">  
        <div class="container_users">
            <%- include("../partials/menuAdmin") %>
            <div class="container_detail_view_admin"> 
                <p class="title">Usuarios</p>               
            </div>
            <div class="container_detail_view_admin AdminUsers__containerTable">
                <table class="AdminUsers__table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th class="item-display-none">email</th>
                            <th class="item-display-none">Rol</th>
                            <th class="item-display-none">Teléfono</th>                              
                        </tr>
                    </thead>

                    <% allUsers.forEach (element => { %>

                        <tr>
                            <td><%= element.id %></td>
                            <td><%= element.firstName %></td>
                            <td><%= element.lastName %></td>
                            <td class="item-display-none"><%= element.email %></td>
                            <td class="item-display-none"><%= element.roles.name %></td>
                            <td class="item-display-none"><%= element.phone %></td>
                        </tr>

                    <% }); %>

                </table>
                
            </div>
        </div> 
       
    </section>
    <!-- Pie de Pagina -->
    <%- include("../partials/footerNico") %>
</body>
</html>

<script src="../../../../../../../../js/direction.js"></script>
<script src="../../../../../../../../js/menuUser.js"></script>

   